In [3]:
import pandas as pd
from pandas import Series, DataFrame

In [4]:
obj = pd.Series([1,3,5,7])
obj

0    1
1    3
2    5
3    7
dtype: int64

In [5]:
obj.values

array([1, 3, 5, 7])

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [19]:
obj = pd.Series([1,3,5,7], index=['tony', 'josh', 'adam', 'mike'])
obj

tony    1
josh    3
adam    5
mike    7
dtype: int64

In [20]:
obj.index

Index(['tony', 'josh', 'adam', 'mike'], dtype='object')

In [21]:
obj['mike']

7

In [22]:
obj[['mike', 'tony']] # list is interpreted as a list of indices, even though they are strings

mike    7
tony    1
dtype: int64

In [23]:
obj[obj > 4]

adam    5
mike    7
dtype: int64

In [24]:
obj * 2

tony     2
josh     6
adam    10
mike    14
dtype: int64

In [26]:
'mike' in obj

True

In [31]:
dict_data = {
    'mike': 7,
    'josh': 5,
    'tony': 2,
    'adam': 1
}

obj = pd.Series(dict_data)
obj

mike    7
josh    5
tony    2
adam    1
dtype: int64

In [33]:
obj = pd.Series(dict_data, index=['adam', 'mike', 'josh', 'does not exist'])
obj # in order specified, using data specified

adam              1.0
mike              7.0
josh              5.0
does not exist    NaN
dtype: float64

In [34]:
pd.isnull(obj)

adam              False
mike              False
josh              False
does not exist     True
dtype: bool

In [35]:
pd.notnull(obj)

adam               True
mike               True
josh               True
does not exist    False
dtype: bool

In [39]:
obj.isnull()

adam              False
mike              False
josh              False
does not exist     True
dtype: bool